$shadow-color: rgba(0,0,0,0.3);
$frame-color: rgba(255,255,255,0.5);
$piece-color: #eecd14;
$border-color: mix(black, $piece-color, 50%);
$main-dark-color: #363636;
$interactive-color: #6495ed;
$alt-interactive-color: #df2d2d;
$hover-color: #22eb4d;
$text-color: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
// MAIN STYLES (need refactor)
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus { outline: none; }

html {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 300;
    color: $text-color;
    cursor: default;
}

body {
    width: 100%;
    background-color: $main-dark-color;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    perspective: 35rem;
    perspective-origin: center;
}

// SIDE BLOCKS (For 3d view)
%_top-side {
    top: 0;
    left: 0;
    transform-origin: top center;
    transform: rotateX(90deg);
}
%_bottome-side {
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    transform: rotateX(-90deg);
}
%_left-side {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotateX(90deg) rotateY(90deg) scaleZ(-1);
}
%_right-side {
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotateX(90deg) rotateY(-90deg) scaleZ(-1);
    backface-visibility: hidden;
}

// GAME LAYER
.game-layer {
    position: absolute;
    width: 50%;
    min-width: 32rem;
    height: 100%;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: all .5s linear;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

// PUZZLE FIELD
.puzzle-field {
    position: relative;
    width: 28rem;
    height: 28rem;
    transform-style: preserve-3d;
    transform: translateZ(3px);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    z-index: 1;

    &__frame {
        position: absolute;
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        left: -1rem;
        top: -1rem;
        border: .25rem solid $frame-color;
        border-radius: 1rem;
        transition: all 1s ease-in-out;
        opacity: 0;
    }
    &.active &__frame {
        transform: translateZ(2rem);
        opacity: 1;
    }
    &.active {
        & .puzzle-piece__frame { opacity: 1; }

        & .puzzle-piece[data-can-move=true] {
            color: $interactive-color;
            cursor: pointer;
    
            &:hover {
                transform: scale(.96) translateZ(1rem);
                color: $hover-color;
            }
        }
    }
    &:not(.active) {
        & .puzzle-piece--empty { opacity: 1; }
    }
}

.puzzle-piece {
    position: absolute;
    transform-style: preserve-3d;
    transform: scale(.96);
    transition: all .5s ease-in-out;
    color: $piece-color;
    font-size: 2rem;
    z-index: 2;

    &--completed {
        span { opacity: .5; }
    }

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $border-color;
        border-radius: .5rem;
        box-shadow: inset 0 0 .75rem $shadow-color;
        background-color: currentColor;

        &--front {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateZ(2rem);
            //background-image: url('./assets/noise.png');

            & > span { 
                color: $main-dark-color;
                font-weight: 700;
            }
        }
        &--back {
            transform: rotateX(180deg);
            background-image: linear-gradient(mix($shadow-color, transparent, 40%), mix($shadow-color, transparent, 40%));
        }
    }

    &__edge {
        position: absolute;
        width: 100%;
        height: 2rem;
        border: 1px solid $border-color;
        border-radius: .5rem;
        background-color: currentColor;
        background-image: linear-gradient(to bottom, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        box-shadow: inset 0 0 .75rem mix($shadow-color, transparent, 75%);
        
        &--left {
            @extend %_left-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--right {
            @extend %_right-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--top {
            @extend %_top-side;
        }

        &--bottom {
            @extend %_bottome-side;
        }
    }

    &--empty { opacity: 0; }

    &__frame {
        cursor: default;
        border: 2px solid $frame-color;
        border-radius: .5rem;
        transform: translateZ(-1px) scale(.95);
        transition: all .5s ease-in-out;
        opacity: 0;
    }
}



// UI LAYER
.ui-layer {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 2rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: mix($main-dark-color, transparent, 50%);
    overflow: hidden;

    &__header {
        padding-left: 1rem;
        color: $piece-color;
        font-size: 2.5rem;
        border-bottom: 1px solid $border-color;
        letter-spacing: .06em;
        
        span {
            color: $interactive-color;
            &::before {
                content: '·';
                color: $text-color;
            }
        }
    }

    &__main { flex: 0 1 70%; }

    &__copyright {
        font-size: .75rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.05em;
        opacity: .6;

        a {
            color: currentColor;
            text-decoration: none;
            font-weight: 700;
            &:hover { text-decoration: underline; }
        }
    }
}
.slider {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;

    &__section {
        flex: 0 0 100%;
        transition: all .5s ease-in-out;
    
        &--prev { margin-left: -100%; }
    }   
}

.game-button {
    padding: .5em 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: currentColor;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    line-height: 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: mix($interactive-color, transparent, 60%);
    transition: all .5s ease-in-out;
    
    &:not(:disabled):hover {
        color: $main-dark-color;
        background-color: $hover-color;
    }
    &:active { transform: translateY(.3em); }

    &:disabled {
        opacity: .4;
        cursor: default;
    }

    &--priority {
        color: $main-dark-color;
        background-color: mix($piece-color, transparent, 90%);
    }

    &--red { background-color: $alt-interactive-color; }
}

.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .game-button:not(.confirm-settings) {
        margin: .5rem;
        width: 50%;
        min-width: 12rem;
        line-height: 2rem;
    }
    .confirm-settings {
        margin-top: 2rem;
        padding: .5rem 2rem;
    }

    &__header {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: left;
        opacity: .75;
    }
}

.size-selector {
    height: 3rem;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-size: 1.5rem;

    &__nav-button {
        padding: 0 1rem;
        margin: 0 .5rem;
        flex: 0 0 auto;
        color: $interactive-color;
        font-size: 1em;
        border: none;
        background: none;
        cursor: pointer;
        transition: all .5s;

        &:hover { color: $hover-color; }
        &:active { transform: translateY(.1rem); }
    }

    &__sizes {
        flex: 1 1 auto;
        color: $piece-color;
        font-size: 1.5rem;
    }

    &__selected-size {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.stat-section {
    margin: .5rem;
    padding: .5rem;
    width: 90%;
    max-width: 22rem;
    min-width: 15rem;

    &__time,
    &__moves {
        margin-top: 1rem;
        text-align: center;
        font-size: 3rem;
        color: $piece-color;
        letter-spacing: 0.1em;
    }
    &__time > span:not(:first-child) {
        margin: 0 5px;
        display: inline-block;
        min-width: 4.5rem;
        text-align: center;
    }

    &--buttons {
        padding: 0;
        display: flex;
        align-items: stretch;
        justify-content: space-around;

        & > .game-button {
            flex: 1 0 50%;
            min-width: auto;
        }
    }
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mix($main-dark-color, transparent, 90%);
    transition: opacity .5s ease-in-out;

    &__wrapper {
        max-width: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    &__text {
        margin: 1rem 0;
        text-align: center;
        line-height: 1.5em;
    }

    &__buttons {
        display: flex;
        align-items: center;
        & > .game-button {
            margin: 0 .5rem;
            flex: 0 0 50%;
            line-height: 1.5rem;
        }
    }
}