$shadow-color: rgba(0,0,0,0.3);
$frame-color: rgba(255,255,255,0.5);
$piece-color: #eecd14;
$border-color: mix(black, $piece-color, 50%);
$main-dark-color: #363636;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus { outline: none; }

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    cursor: default;
}

body {
    width: 100%;
    min-height: 100vh;
    display: block;
    perspective: 35rem;
    perspective-origin: center 45%;

    background-color: $main-dark-color;
}

button {
    font-size: 1rem;
    text-transform: uppercase;
    color: currentColor;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background: none;
    transition: all .5s ease-in-out;
}

// SIDE BLOCKS 
%_top-side {
    top: 0;
    left: 0;
    transform-origin: top center;
    transform: rotateX(90deg);
}
%_bottome-side {
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    transform: rotateX(-90deg);
}
%_left-side {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotateX(90deg) rotateY(90deg) scaleZ(-1);
}
%_right-side {
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotateX(90deg) rotateY(-90deg) scaleZ(-1);
    backface-visibility: hidden;
}

// GAME LAYER
.game-layer {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: all .5s ease-in-out;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

// PUZZLE FIELD
.puzzle-field {
    position: relative;
    width: 25rem;
    height: 25rem;
    transform-style: preserve-3d;
    transform: translateZ(3px);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    z-index: 1;

    &__frame {
        position: absolute;
        width: 27rem;
        height: 27rem;
        left: -1rem;
        top: -1rem;
        border: .25rem solid $frame-color;
        border-radius: 1rem;
        transition: all .5s ease-in-out;
        opacity: 0;
    }
    &.active &__frame {
        transform: translateZ(2rem);
        opacity: 1;
    }
    &.active {
        & .puzzle-piece__frame { opacity: 1; }

        & .puzzle-piece--can-move {
            color: cornflowerblue;
            cursor: pointer;
    
            &:hover {
                transform: scale(.96) translateZ(15px);
                color: #22eb4d;
            }

            & b { color: white; }
        }
    }
    &:not(.active) {
        & .puzzle-piece--empty { opacity: 1; }
    }
}

.puzzle-piece {
    position: absolute;
    width: 25%;
    height: 25%;
    transform-style: preserve-3d;
    transform: scale(.96);
    transition: all .5s ease-in-out;
    color: $piece-color;
    font-size: 2rem;
    z-index: 2;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $border-color;
        border-radius: .5rem;
        box-shadow: inset 0 0 .75rem $shadow-color;
        background-color: currentColor;

        &--front {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateZ(2rem);
            //background-image: url('./assets/noise.png');

            & > b { color: $main-dark-color; }
        }
        &--back {
            transform: rotateX(180deg);
            background-image: linear-gradient(mix($shadow-color, transparent, 40%), mix($shadow-color, transparent, 40%));
        }
    }

    &__edge {
        position: absolute;
        width: 100%;
        height: 2rem;
        border: 1px solid $border-color;
        border-radius: .5rem;
        background-color: currentColor;
        background-image: linear-gradient(to bottom, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        box-shadow: inset 0 0 .75rem mix($shadow-color, transparent, 75%);
        
        &--left {
            @extend %_left-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--right {
            @extend %_right-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--top {
            @extend %_top-side;
        }

        &--bottom {
            @extend %_bottome-side;
        }
    }

    &--empty { opacity: 0; }

    &__frame {
        cursor: default;
        border: 2px solid $frame-color;
        border-radius: .5rem;
        transform: translateZ(-1px) scale(.95);
        transition: all .5s ease-in-out;
        opacity: 0;
    }
}

.stats {
    margin-left: 2rem;
    width: 20rem;
    height: 25rem;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: .25rem solid $frame-color;
    border-radius: 1rem;

    &:hover { transform: translateZ(2rem); }

    &__section {
        margin: .5rem;
        padding: .5rem;

        &--buttons {
            padding: 0;
            display: flex;
            align-items: stretch;
            justify-content: space-around;

            & > button {
                margin: .5rem;
                flex: 1 1 auto;
                line-height: 3rem;
            }
        }
    }

    &__time,
    &__moves {
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #eecd14;
    }
    // /&__time { color: cornflowerblue; }

    &__caption {
        font-size: 1.2rem;
        font-weight: normal;
        opacity: .75;
    }
}

.pause-button { background-color:  cornflowerblue; }
.surrender-button { background-color: #df2d2d; }
.pause-button:hover,
.surrender-button:hover { background-color: #22eb4d; }