$shadow-color: rgba(0,0,0,0.3);
$frame-color: rgba(255,255,255,0.5);
$piece-color: #eecd14;
$border-color: mix(black, $piece-color, 50%);
$main-dark-color: #363636;
$interactive-color: #6495ed;
$alt-interactive-color: #df2d2d;
$hover-color: #22eb4d;
$text-color: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
// MAIN STYLES (need refactor)
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus { outline: none; }

html {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 300;
    color: $text-color;
    cursor: default;
}

body {
    width: 100%;
    background-color: $main-dark-color;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    perspective: 35rem;
    perspective-origin: 50% 74%;
}

// SIDE BLOCKS (For 3d view)
%_top-side {
    top: 0;
    left: 0;
    transform-origin: top center;
    transform: rotateX(90deg);
}
%_bottome-side {
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    transform: rotateX(-90deg);
}
%_left-side {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotateX(90deg) rotateY(90deg) scaleZ(-1);
}
%_right-side {
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotateX(90deg) rotateY(-90deg) scaleZ(-1);
    backface-visibility: hidden;
}

// GAME LAYER
.game-layer {
    position: absolute;
    width: 50%;
    min-width: 32rem;
    height: 100%;
    left: 0;
    top: 0;
    transform: rotateX(0deg);
    transition: all .5s linear;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.game-layer--flat) { transform-style: preserve-3d; }
}

// PUZZLE FIELD
.puzzle-field {
    position: relative;
    width: 28rem;
    height: 28rem;
    transform-style: preserve-3d;
    transform: translateZ(3px);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    z-index: 1;

    &__frame {
        position: absolute;
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        left: -1rem;
        top: -1rem;
        border: .25rem solid $frame-color;
        border-radius: 1rem;
        transition: all 1s ease-in-out;
        opacity: 0;
    }
    &.active &__frame {
        transform: translateZ(2rem);
        opacity: 1;
    }
    &.active {
        & .puzzle-piece__frame { opacity: 1; }

        & .puzzle-piece[data-can-move=true] {
            color: $interactive-color;
            cursor: pointer;
    
            &:hover {
                transform: scale(.96) translateZ(.75rem);
                color: $hover-color;
            }
        }
    }
    &:not(.active) {
        & .puzzle-piece--empty { opacity: 1; }
    }
    &.completed {
        & .puzzle-piece {
            border-radius: .2rem;
            border-color: transparent;
            transform: scale(1);
            span { opacity: 1; }
        }
        & .puzzle-piece--selected { color: $piece-color; }
        & .puzzle-piece.puzzle-piece--image {
            span { opacity: 0; }
        }
    }
    &.solving {
        & .puzzle-piece { transition: all .25s ease-in-out; }
        & .puzzle-piece__frame { opacity: 1; }
        & .puzzle-field__frame { border-color: mix($alt-interactive-color, transparent, 60%); }
    }
}

.puzzle-piece {
    position: absolute;
    transform-style: preserve-3d;
    transform: scale(.96);
    transition: all .5s ease-in-out;
    color: $piece-color;
    font-size: 2rem;
    border-radius: .5rem;
    border-color: $border-color;
    border-width: 0px;
    border-style: solid;
    z-index: 2;

    span { 
        color: $main-dark-color;
        font-weight: 700;
    }

    &--image {
        span {
            color: white;
            opacity: .75;
        }
    }

    &--completed {
        span { opacity: .5; }
    }

    &--selected { 
        color: $alt-interactive-color;
        span { 
            color: white;
            opacity: 1;
        }
    }

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: inherit;
        border-radius: inherit;
        border-width: 1px;
        border-style: inherit;
        box-shadow: inset 0 0 .75rem $shadow-color;
        background-color: currentColor;

        &--front {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateZ(2rem);
        }
        &--back {
            transform: rotateX(180deg);
            background-image: linear-gradient(mix($shadow-color, transparent, 40%), mix($shadow-color, transparent, 40%));
        }
    }

    &__edge {
        position: absolute;
        width: 100%;
        height: 2rem;
        border-color: $border-color;
        border-radius: inherit;
        border-width: 1px;
        border-style: inherit;
        background-color: currentColor;
        background-image: linear-gradient(to bottom, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        box-shadow: inset 0 0 .75rem mix($shadow-color, transparent, 75%);
        
        &--left {
            @extend %_left-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--right {
            @extend %_right-side;
            background-image: linear-gradient(to top, mix($shadow-color, transparent, 10%), mix($shadow-color, transparent, 40%));
        }

        &--top {
            @extend %_top-side;
        }

        &--bottom {
            @extend %_bottome-side;
        }
    }

    &--empty { opacity: 0; }

    &__frame {
        cursor: default;
        border: 2px solid $frame-color;
        border-radius: .5rem;
        transform: translateZ(-1px) scale(.95);
        transition: all .5s ease-in-out;
        opacity: 0;
    }
}



// UI LAYER
.ui-layer {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 2rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: mix($main-dark-color, transparent, 50%);
    overflow: hidden;

    &__header {
        padding-left: 1rem;
        color: $piece-color;
        font-size: 2.5rem;
        border-bottom: 1px solid $border-color;
        letter-spacing: .06em;
        
        span {
            color: $interactive-color;
            &::before {
                content: '·';
                color: $text-color;
            }
        }
    }

    &__main { flex: 0 1 70%; }

    &__copyright {
        font-size: .75rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.05em;
        opacity: .6;

        a {
            color: currentColor;
            text-decoration: none;
            font-weight: 700;
            &:hover { text-decoration: underline; }
        }
    }
}
.slider {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;

    &__section {
        flex: 0 0 100%;
        transition: all .5s ease-in-out;
    
        &--prev { margin-left: -100%; }
    }   
}

.game-button {
    min-width: 8rem;
    padding: .5em 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: currentColor;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    line-height: 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: mix($interactive-color, transparent, 60%);
    transition: all .5s ease-in-out;
    
    &:not(:disabled):hover {
        color: $main-dark-color;
        background-color: $hover-color;
    }
    &:active { transform: translateY(.3em); }

    &:disabled {
        opacity: .4;
        cursor: default;
    }

    &--priority {
        color: $main-dark-color;
        background-color: mix($piece-color, transparent, 90%);
    }

    &--red { background-color: $alt-interactive-color; }
}
.selectable-button {
    color: $interactive-color;
    & > input { display: none; }
    & > p {
        font-size: .85rem;
        text-align: center;
        line-height: 1em;
        transition: color .5s;
    }
    & > input:checked ~ p { color: $piece-color; }
    &:hover {
        color: $hover-color;
        cursor: pointer;
        & > p { color: $hover-color; }
    }

    &.check-button > .custom-checkbox {
        margin: 0 .5rem;
        padding: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
        border: 2px solid $frame-color;
        border-radius: 2rem;
        overflow: hidden;
        transition: all .5s;

        &:hover { border-color: $hover-color; }

        & > div {
            flex: 0 0 100%;
            text-align: center;
            transition: all .5s ease-in-out;
        }
    }

    &.check-button > input:not(:checked) ~ .custom-checkbox > div:first-child { margin-left: -100%; }
    &.check-button > input:checked ~ .custom-checkbox {
        color: $main-dark-color;
        border-color: $piece-color;
        background-color: $piece-color;
    }
}

.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        margin-bottom: .5rem;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: left;
        opacity: .75;
    }

    &__section {
        margin-bottom: 1.5rem;
        width: 90%;
        min-width: 15rem;
        max-width: 22rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        &:last-child {
            margin-bottom: 0;
            margin-top: 1.5rem;
        }

        &--rows {
            flex-direction: column;
            justify-content: center;
        }

        &--around {
            justify-content: space-around;
            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
.menu-button {
    margin: .5rem 0;
    line-height: 2rem;
    width: 100%;
    min-width: 10rem;
    max-width: 16rem;
}
.inline-button {
    margin: 0 .5rem;
    flex: 1 0 auto;
}
.bg-selector {
    margin: 0;
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & > figure {
        max-width: 100%;
        margin: .5rem;
        padding: 4px;
        border: 2px solid $frame-color;
        border-radius: .5rem;
        line-height: 0;
        transition: all .5s ease-in-out;
        & > img { max-width: 100%; }
    }
    &:hover > figure { border-color: $hover-color; }
    & > input:checked ~ figure { border-color: $piece-color; }
}

.timer-counter,
.moves-counter {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
    color: $piece-color;
    letter-spacing: 0.1em;
}
.timer-counter > span:not(:first-child) {
    margin: 0 5px;
    display: inline-block;
    min-width: 4.5rem;
    text-align: center;
}

.size-selector {
    height: 2rem;
    font-size: 1.5rem;

    &__nav-button {
        padding: 0 1rem;
        margin: 0 .5rem;
        flex: 0 0 auto;
        color: $interactive-color;
        font-size: 1em;
        border: none;
        background: none;
        cursor: pointer;
        transition: all .5s;

        &:hover { color: $hover-color; }
        &:active { transform: translateY(.1rem); }
    }

    &__sizes {
        flex: 1 1 auto;
        color: $piece-color;
        font-size: 1.5rem;
    }

    &__selected-size {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mix($main-dark-color, transparent, 90%);
    transition: opacity .5s ease-in-out;

    &__wrapper {
        max-width: 90%;
        max-height: 90%;
        min-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    &__text {
        margin: 1rem 0;
        max-height: 80%;
        text-align: center;
        line-height: 1.5em;
        overflow: hidden;
        overflow-y: auto;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    h3 {
        font-size: 1.5rem;
        color: $piece-color;
        line-height: 3rem;
    }
}

.victory {
    margin: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: mix(white, transparent, 10%);
    border-radius: 1rem;

    &__caption {
        font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 700;
        letter-spacing: 0.06em;
    }

    &__score {
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        color: $piece-color;
        letter-spacing: 0.1em;
    }

    &__stars {
        max-height: 10rem;
        color: $piece-color;
        svg {
            height: 6rem;
            width: auto;
        }
    }
}
.get-name {
    margin: 1rem 0;
    padding: 0 .5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 1.5rem;
    color: $piece-color;
    line-height: 2.5rem;
    text-transform: uppercase;
    background-color: mix($frame-color, transparent, 50%);
    border: none;
    border-radius: .5rem;
}

.game-score {
    min-width: 36rem;
    max-width: 100%;
    border-collapse: collapse;

    th {
        padding: 0 1rem;
        font-weight: normal;
        color: $interactive-color;
        letter-spacing: 0.05em;
    }

    tr:nth-child(2){ color: $piece-color; }
    tr > td:first-child { color: $hover-color; }

    td {
        border-bottom: 1px solid $border-color;
        line-height: 2rem;
    }

    &__username {
        text-align: left;
        text-transform: uppercase;
    }

    &__points {
        font-weight: 700;
        letter-spacing: .05em;
    }
}
